/************************************************************************
*Inicio de Sesion.                                                      *
*Estilos para la seccion en la que se iniciara sesion a la actividad.  *
*       Autores:                                                        *
*Montserrat Devars Peralta.                                             *
*David Eduardo Parra Mercado.                                           *
*Daniela Requejo Fernandez.                                             *
*                                                                       *
*Ultima modificacion: 14 de Marzo de 2017.                              *
*                                                                       *
*Fuentes de apoyo: http://codepen.io/nedev/pen/EVaGqW                   *
*************************************************************************/

html {
    position: relative;
    min-height: 100%;
}
/********************************
* Carrusel de imagenes de fondo *
*********************************/

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.item:nth-child(1) {
    background-image: url("../img/Fondo/1073904_10152791941078708_8371726825931722120_o.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url("../img/Fondo/IMG_0010_0.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url("../img/Fondo/maxresdefault.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
/*********************************
* Caja de inicio de              *
*sesion.                         *
*********************************/
/*Titulo*/

.title {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    text-shadow: 2px 2px #000;
    color: #FFF;
}
/*Icono*/

img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}
/*Boton de log-in*/

#login-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(217, 48, 48, 1);
    overflow: hidden;
    opacity: .9;
    box-shadow: 10px 10px 30px #000;
}
/* Login contenedor */

#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 350px;
    border-radius: 5px;
    background: rgba(205, 203, 203,.3);
    display: none;
}
/*Boton de cerrar*/

.close-btn {
    position: absolute;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    line-height: 20px;
    top: 3px;
    right: 3px;
    width: 25px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    opacity: .7;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.close-btn:hover {
    opacity: .5;
}
/* Encabezado del titulo*/

h1 {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin-bottom: 10%;
}
/* Entradas */

a,
input {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    position: relative;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    width: 80%;
    background: transparent;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
input:focus {
    outline: none;
    background: transparent;
}
/*PlaceHolder */

::-webkit-input-placeholder {
    color: #ddd;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: red;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    color: red;
}
:-ms-input-placeholder {
    color: #333;
}
/* Link */

input[type='text'], input[type='password']{
font-family: 'Quicksand', sans-serif;
    padding: 4px 8px;
    border-radius: 0%;
    border-bottom: 1px solid rgb(255, 255, 255);
}

a,
input[type='submit'] {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 4px 8px;
    background: rgb(255, 0, 0);
    border-radius: 6px;
}

input {
    line-height: normal;
    border: none;
}

a:hover,
input[type='submit']:hover {
    opacity: 0.85;
    color: rgb(255, 255, 255);
    width: 80%;
}
/*********************************
* Footer                         *
*********************************/

#footer {
    width: 100%;
    height: 20px;
    background: rgba(255, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
}
h {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color: #fff;
}